
.navigate-down,
.navigate-up {
	display: none;
}

section video {
	display: block;
	margin: 10px auto;
}

.reveal section img {
	display: block;
	margin: 15px auto;
	background: none;
	border: none;
	box-shadow: none;
}

.reveal {
	section {
		ul {
			margin: 20px 0;
		}
	}
}

.slide-shazam {
	img {
		background: white !important;
		padding: 5px 20px;
		max-width: 360px;
	}
}

.slide-layout-editor {
	ul {
		li {
			display:flex;
			align-items: center;
			margin-bottom: 20px;
		}
		li span {
			width: 70px;
			height: 70px;
			margin-right: 20px;
			display: inline-block;
		}
		li:first-child span {
			background: #76DA00;
		}

		li:last-child span {
			background: #F7B126;
		}
	}
}

.faded {
	opacity: 0.1;
}

.rounded {
	border-radius: 50%;
}

.reveal .slide-command-menu img {
	background: white;
}